{% extends 'todolist/base.html' %}

{% block title %}
    <title>Project detail</title>
{% endblock %}


{% block sub_menu %}
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="{% url 'todolist:todoitem_add' %}">Add todo</a></li>
                </ul>
            </div>
        </nav>
    </div>
{% endblock %}

{% block body_block %}
    <div class="jumbotron">

    <h1>Welcome to project detail view</h1>
    <p>ID: {{ project_detail.id }}</p>
    <p>Name: {{ project_detail.name }}</p>
    <p>Description: {{ project_detail.description }}</p>
    </div>
{% endblock %}