{% extends 'todolist/base.html' %}

{% block title %}
    <title>Todo</title>
{% endblock %}


{% block sub_menu %}
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="{% url 'todolist:todoitem_add' %}">Add todo</a></li>
                </ul>
            </div>
        </nav>
    </div>
{% endblock %}

{% block body_block %}
    <div class="jumbotron">
        {% if todo_list %}
            <ul>
                {% for todoitem in todo_list %}
                    <li>
                    <form method="POST" action="{% url 'todolist:todoitem_done' todoitem.id %}">
                        {% csrf_token %}
                        <input type="hidden", name="next", value="{{ request.path }}">
                        <button class="btn" type="submit">done</button>
                    </form>

                        <a href="{% url 'todolist:todoitem_detail' todoitem.id %}">{{ todoitem.text }}</a>
                    {% if todoitem.due_date %} {{ todoitem.due_date }} {% endif %}
                    {% if todoitem.period_type > 0 %} (periodic) {% endif %}
                    {% if todoitem.project %} - {{ todoitem.project.name }} {% endif %}
                    </li>

                    <br/>
                {% endfor %}
            </ul>
        {% else %}
            <p>No todo items available</p>
        {% endif %}
    </div>
{% endblock %}